body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("https://github.com/j-brower/NYScratchOffSim/blob/master/background.jpg?raw=true");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Open Sans', sans-serif;
  /*background-image: url("https://github.com/j-brower/NYScratchOffSim/blob/master/background.jpg?raw=true");
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
